.s{
    background-color: navy;
    
}
.btn{
    color: white;
    padding:10px;
    margin:10px;
    font-weight:bold;
    
}

.g{
    margin:10px;
    padding:10px;
    background-color:black;
    color:white;
    font-weight:bold;


}

.h{
    margin:10px;
    padding:10px;
    background-color:black;
    color:white;
    font-weight:bold;
    
}

.j{
    margin:10px;
    padding:10px;
    background-color:rgb(192, 23, 79);
    color:white;
    font-weight:bold;
    
}
